<form [formGroup]="form" (submit)="submit()" style="width: 100%">
  <div class="ui-g">
    <div class="ui-g-3 label">
      <label>ძველი პაროლი</label>
    </div>
    <div class="ui-g-5">
      <input type="password" (input)="errorMessage=null" formControlName="oldPassword" id="oldPassword" required
             placeholder="მინიმუმ 6 სიმბოლო"/>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-3 label">
      <label>ახალი პაროლი</label>
    </div>
    <div class="ui-g-5">
      <input type="password" (input)="errorMessage=null" formControlName="newPassword" id="newPassword" required
             placeholder="მინიმუმ 6 სიმბოლო"/>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-3 label">
      <label>გაიმეორეთ ახალი პაროლი</label>
    </div>
    <div class="ui-g-5">
      <input type="password" (input)="errorMessage=null" formControlName="repeatNewPassword" id="repeatNewPassword" required
             placeholder="მინიმუმ 6 სიმბოლო"/>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-6">
      <div class="error" *ngIf="errorMessage != null">
        <div *ngIf="oldPassword?.errors?.required || newPassword?.errors?.required || repeatNewPassword?.errors?.required; else minLength">
          შეავსეთ აუცილებელი ველები
        </div>
        <ng-template #minLength>
          <ng-container *ngIf="oldPassword?.errors?.minlength || newPassword?.errors?.minlength || repeatNewPassword?.errors?.minlength; else doesNotMatch;">
            პაროლები მინიმუმ 6 სიმბოლოსგან უნდა შედგებოდეს
          </ng-container>
        </ng-template>
        <ng-template #doesNotMatch>
          {{ errorMessage }}
        </ng-template>
      </div>
    </div>
    <div class="ui-g-2">
      <button type="submit">პაროლის შეცვლა</button>
    </div>
  </div>
</form>
