@import '../_variables';

$bodyBgColor:#f4f3f8;
$topbarBgColor:#ffffff;
$sidebarBgColor:#21222d;
$sidebarLogoBgColor:#191a25;
$topbarDividerColor:#d8dae2;
$topbarIconColor:#b6b7c2;
$topbarTextColor:#565766;
$topbarSubmenuHoverBgColor:#f1f2f7;
$topbarMobileMenuBgColor:#ffffff;
$menuTextColor:#B0B3C2;
$menuitemHoverBgColor:#343543;
$menuitemHoverTextColor:#dadce8;
$activeMenuitemBgColor:#0e0e17;
$rightPanelBgColor:#ffffff;
$mobileBreakpoint:640px;
$tabletBreakpoint:1024px;
$contentMobileMaskBgColor:#ffffff;
